.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
}


@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    width: 100vw;
    height: auto;
    min-height: 100vh;
  }
}

@media (max-width: 450px) {
  .dashboard {
    flex-direction: column;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 0 2vw;
    box-sizing: border-box;
  }
}